p {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.3125rem 0rem;
  background-color: #2a2a2a;
  color: #fefefe;
  font-family: "Hind", sans-serif;
}

.product-logo {
  height: 6.625rem;
  width: 25.375rem;
  margin-left: 3rem;
  cursor: pointer;
}

.navbar-elements {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-right: 5rem;
}

.navbar-dropdown {
  gap: 0.3125rem;
}

.learn-dropdown {
  display: flex;
  position: absolute;
  height: 4.5rem;
  width: 17.1875rem;
  gap: 1.25rem;
  padding: 1.25rem 1.0625rem;
  background-color: #2a2a2a;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(255, 255, 255, 0.25);
}

.practice-dropdown {
  position: absolute;
  height: 10rem;
  width: 17.1875rem;
  /* gap: 1.25rem; */
  padding: 1.25rem 1.0625rem;
  background-color: #2a2a2a;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(255, 255, 255, 0.25);
}

.dropdown-elements {
  display: flex;
  gap: 1.25rem;
}

.dropdown-text > h5 {
  margin: 0rem;
  font-size: 1rem;
}

.dropdown-text > p {
  word-break: normal;
  margin-top: 0.625rem;
  font-size: 14px;
}

.btn {
  display: flex;
  padding: 0rem 1.3rem;
  align-items: flex-start;
  gap: 0.625rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
}

/* Sign up button pop-up */

.pop-up {
  position: absolute;
  right: 6.25rem;
  top: 6rem;
  height: 2.3rem;
  width: 17.825rem;
  max-width: 100%;
  padding: 0.7rem 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: white;
  color: black;
  font-size: 1.125rem;
}

b {
  font-weight: bold;
}

.shape {
  position: absolute;
  height: 0.625rem;
  width: 0.625rem;
  background-color: white;
  transform: rotate(45deg);
  top: -0.3125rem;
  right: 1.25rem;
}

.pop-up img {
  height: 1.125rem;
  width: 1.125rem;
  cursor: pointer;
}

/* Mobile Navbar CSS */

.mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #2a2a2a;
  color: white;
  box-shadow: 0px 1px 2px 0px #aeacac;
  font-family: "Hind", sans-serif;
  display: none;
}

.mobile-btn {
  height: 1.7rem;
  width: 3.75rem;
  padding: 0.125rem 0.625rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.mobile-pop-up {
  position: absolute;
  right: 0.5rem;
  top: 3.3rem;
  height: 1.3rem;
  width: 11.825rem;
  max-width: 100%;
  padding: 0.7rem 0.3rem 1.5rem 1rem;
  border-radius: 0.75rem;
  background-color: white;
  color: black;
  font-size: 12px;
}

.mobile-shape {
  position: absolute;
  height: 0.625rem;
  width: 0.625rem;
  background-color: white;
  transform: rotate(45deg);
  top: -0.3125rem;
  right: 1.25rem;
}

.mobile-pop-up img {
  height: 0.9375rem;
  width: 0.9375rem;
  margin-right: 0.4rem;
  cursor: pointer;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  .mobile-navbar {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .practice-dropdown {
    height: 12rem;
  }

  .practice-dropdown h5 {
    font-size: 13px;
  }

  .practice-dropdown p {
    font-size: 11px;
    margin: 0.3125rem 0rem;
  }

  .practice-dropdown img {
    margin-right: 0.5rem;
    height: 50px;
    width: 40px;
    max-width: 100%;
  }
}

/* Font-styling in Desktop */

.learn-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}

.login-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4125rem;
  color: #d9d9d9;
  font-style: normal;
}

.mobile-shape span {
  font-size: 0.9375rem;
}

/* Sizing in Desktop */

.learn-img {
  height: 0.8rem;
  width: 0.8rem;
  stroke-width: 4px;
  stroke: #fefefe;
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .learn-text,
  .login-text {
    font-size: 1rem;
  }

  .learn-img {
    height: 0.5rem;
    width: 0.5rem;
  }

  .btn {
    display: flex;
    padding: 0rem 0.6rem;
    align-items: flex-start;
    gap: 0.625rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    width: 5rem;
  }

  .product-logo {
    height: 80px;
    width: 300px;
    margin-left: 1rem;
  }
}
