p {
    cursor: pointer;
}

.navbar {
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    padding: .3125rem 0rem;
    background-color: #2A2A2A;
    color: white;
}

.navbar-elements {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding-right: 5rem;
}

.navbar-dropdown {
    gap: .3125rem;
}

.navbar-dropdown > p > img {
    height: 0.5rem;
    width: 0.9769rem;
}

.learn-dropdown {
    display: flex;
    position: absolute;
    height: 4.5rem;
    width: 17.1875rem;
    gap: 1.25rem;
    padding: 1.25rem 1.0625rem;
    background-color: #2A2A2A;;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(255, 255, 255, 0.25);
}

.practice-dropdown {
    position: absolute;
    height: 10rem;
    width: 17.1875rem;
    gap: 1.25rem;
    padding: 1.25rem 1.0625rem;
    background-color: #2A2A2A;;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(255, 255, 255, 0.25);
}

.dropdown-elements {
    display: flex;
    gap: 1.25rem;
}

.dropdown-text > h5 {
    margin: 0rem;
}

.dropdown-text > p {
    word-break: normal;
    margin-top: .625rem;
    font-size: .6875rem;
}

.btn {
    height: 2rem;
    width: 6rem;
    padding: 0 0.30rem;
    border-radius: .5rem;
    background-color: white;
    color: black;
    cursor: pointer;
}