.testimonial-container {
    background: #2a2a2a;
    padding-top: 2rem;
    color: white;
    text-align: center;
}

.explore-container {
    display: flex;
    justify-content: space-evenly;
}

.testimonial-boxes {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.testimonial-boxes >img {
    height: 20rem;
    margin: 0rem 1.5rem;
}

.woman-icon {
    /* background-image: radial-gradient(circle,#3DC727,#2A2A2A);
    border-radius: 100%; */
}