.desktop-footer {
  background: #2a2a2a;
  padding: 2rem;
  color: #d9d9d9;
}

.mobile-footer {
  background: #2a2a2a;
  padding: 2rem;
  color: #d9d9d9;
  display: none;
}

.footer-content {
  max-width: 81.25rem;
  margin: 0 auto;
}

.social-media-icons {
  display: flex;
  gap: 1.625rem;
}

.copyright-container p {
  font-family: "Roboto", sans-serif;
  color: #d9d9d9;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}

.mobile-footer p {
  font-family: "Roboto", sans-serif;
  color: #d9d9d9;
  font-style: normal;
  font-size: .875rem;
  font-weight: 500;
}

.copyright-container {
  padding: 0.8rem;
}

hr {
  margin: 1.3rem 0rem;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  padding: 0rem 5rem;
}

.bullet-point-icon {
  margin: 0rem 2rem;
}

/* Responsiveness */
@media only screen and (max-width: 760px) {
  .desktop-footer {
    display: none;
  }

  .mobile-footer {
    display: block;
    text-align: center;
  }

  .footer-logo {
    width: 22rem;
    max-width: 100%;
  }

  .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .bullet-point-icon {
    margin: 0rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .footer-logo {
    width: 19rem;
    max-width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .footer-logo {
    width: 17rem;
    max-width: 100%;
  }
}
